.header{
    margin-top: 165px;
}
.navbar{
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
}
.nav_logo:hover {
    transform: scale(0.95);
}
.nav_items{
    display: flex;
    gap: 25px;
    padding-top: 15px;
    margin-left: 250px;
}
.nav_item{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 550;
    line-height: 21.79px;
    cursor: pointer;
}
.nav_item:hover {
    color: #CAA892;
    box-shadow: 0px 0px 20px -18px;
}
.nav_item:active {
    transform: scale(0.95);
}
.nav_btn{
    margin-right: 20px;
    padding-top: 7px;
}
.nav_button{
    margin-right: 20px;
    padding-top: 15px;
    width: 97px;
    height: 32px;
    border-radius: 15px 0px 15px 0px;
    background: #CAA892;
    border: none;
    padding: 10px;
    padding-bottom: 30px;
}
.nav_button:hover {
    background-color: #CAA892;
    box-shadow: 0px 0px 20px -18px;
  }
  
.nav_button:active {
    transform: scale(0.95);
}
.nav_btn_span{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    color: #FFFFFF;
}