*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  margin: 0 auto;
  max-width: 1248px;
  padding: 0 16px;
}
a{
  text-decoration: inherit;
  color: inherit;
}
li{
  list-style: none;
}
span{
  color: inherit;
}
button{
  cursor: pointer;
}
img{
  max-width: 100%;
}